<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Student Data</title>
</head>
<body>
    <h1>Derive Student Record</h1>

    <form action="search-form" method="post">
        <div class="row mb-5 mt-5">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Search By Email:</label>
            <div class="col-sm-10">
            <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter email to search" name="email">
            </div>
      </div>

<div class="col-sm-2 mx-auto mb-5 mt-5">
    <input type="submit" class="form-control form-control-sm" id="colFormLabelSm" value="Search">
</div>


<br>
<div class="col-sm-2 mx-auto mb-5 mt-5">
    <a href="/">Back to home</a>
</div>
</div>
</form>

</body>
</html>